.OrdersPage {
	min-height: 400px;
	max-width: 600px;
	/*text-align: center;*/
	padding: 20px;
	margin: 0 auto;
}

.OrdersPageTitleSafe {
	color: lightgreen;
	transition: all linear 2s;
}

.OrdersPageTitleNotSafe {
	color: #fdacbb;
}


.ArrayOrdersList {
	width: 100%;
	min-height: 501px;
	margin: 20px 0;
	padding: 20px;
	border-radius: 15px;
	background: #fcc6ce url('_') no-repeat;
	box-shadow: 0 0 20px 5px red;
}

.ArrayOrdersItem {
	display: grid;
	grid-template-columns: 45% 45% 10%;
	grid-template-rows: repeat(3, auto);
	justify-items: start;
	width: auto;
	row-gap: 5px;
	border: 1px solid red;
	padding: 15px;
	margin: 15px 0;
	border-radius: 10px;
	background: #fff;
}

.ArrayOrdersList :nth-child(7) {
	grid-column: 3 / 3;
	grid-row: 1 / 4;
}

.ArrayOrdersList button {
	font-size: 1.6rem;
	color: gray;
	justify-self: end;
	background: none;
	cursor: pointer;
}

.ArrayOrdersList button:hover {
	color: red;
}

.EarthInSafe {
	width: 100%;
	height: 501px;
	margin: 20px 0;
	border-radius: 15px;
	background: url('src/assets/posters/earth-in-safe.png') no-repeat center;
	box-shadow: 0 0 20px 5px green;
	transition: all linear 2s;
}

.callBruceBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height:50px;
	background: crimson;
	border-radius: 10px;
	box-shadow: inset 0 0 15px 15px rgba(139, 0, 0, 0.8);
	border: 1px solid #fff;
	cursor: pointer;
}
.callBruceBtn button {
	color: #fff;
}
.callBruceBtn:hover {
	color: #fff;
	box-shadow: inset 0 0 15px 15px rgba(139, 0, 0, 0.4);
}

.callBruceBtn:active {
	color: #fff;
	box-shadow: inset -2px -2px 5px 5px rgba(255, 255, 255, 0.7);
	border: 1px solid red;
}
.callBruceBtn button:hover {
	color: #fff;
}
.callBruceBtn button:active {
	font-size: 1.5rem;
}


.BruceVideo {
	position: absolute;
	right: 10px;
	top: 150px;
	width: 884px;
	
	transition: position linear 2s;
}

.video {
	display: flex;
	justify-content: center;
}
.closeBtn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: 10px;
	right: 10px;
	font-size: 2rem;
	color: #fff;
	background: #fff;
	cursor: pointer;
}
.closeBtn:hover {
	background: #888888;
}
.closeBtn:active {
	background: #fff;
}
